.container{
    margin: 30px;
}

.input-group{
    width:30%
  }

  .center{
      display: flex;
      justify-content: center;
  }

  .list-group{
      width: 40%;
      margin-top: 20px;
  }

  .icon{
     float: right;
     padding: 1px;
  }

  .hover-cursor{
    cursor: pointer !important;
}

  
